.header-img {
    height: 200px;
    border-radius: 50%;
}

.student-info{
    margin-top: 40px;
    text-align: center;
    font-size: 20px;
}

.profile-conteiner{
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 5px 2px gray;
}

.ks-container{
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 3px  gray;
}

.ks-child-container{
    font-size: 20px;
}

.ks-name-conatiner{
    padding: 20px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px 1px gray;
}


.personal-deatils-btn{
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: #efad19;
    box-shadow: 0px 3px 1px -2px rgb(0, 0, 0);
}

.family-deatils-btn{
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    width: 200px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #0275d8;
    box-shadow: 0px 3px 1px -2px rgb(0, 0, 0);
}

.acadmic-deatils-btn{
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    width: 200px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #3C873A;
    box-shadow: 0px 3px 1px -2px rgb(0, 0, 0);
}

.submit-assignment-card{
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    display: block;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 3px  gray;
}

.pending-assignment-card{
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    display: block;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 3px  gray;
}

.attendance-card{
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    display: block;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 3px  gray;
}

.information-container{
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    display: block;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 5px 2px gray;
    overflow-y: scroll;
}