.row-highlights:hover{
    background-color: rgb(214, 232, 248);
  }
  .card{
    box-shadow: 0px 0px 2px black;
  }
  @media only screen and (max-width: 900px) {
  .card {
    width: 580px;
  }
  }
  
  @media only screen and (max-width: 900px) {
  .view-btn{
    margin-top: 20px;
    width: 130px;
    margin-left: 100px;
  }
  }
  
  @media only screen and (max-width: 900px) {
  .profile-btn{
    margin-top: 20px;
    width: 130px;
    margin-left: 20px;
    margin-bottom: 30px;
  }
  }
  
  
  .profile-btn{
  margin-left: 80px;
  }

  .topicname{
    width: 225px;
    text-align: center;
  }

  .date{
    width: 150px;
  }

  .description{
    text-align: center;
  }